@model SimpleBlog.Areas.Admin.ViewModels.UsersNew


<h1>User</h1>
<hr />

@using (Html.BeginForm()) 
{       
    <div class="form-group">
        @Html.LabelFor(u => u.Username)
        @Html.TextBoxFor(u => u.Username, new { @class="form-control" })
        @Html.ValidationMessageFor(u => u.Username, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(u => u.Email)
        @Html.TextBoxFor(u => u.Email, new { @class = "form-control", type="email" })
        @Html.ValidationMessageFor(u => u.Email,"",new {@class="text-danger"})
    </div>

    <div class="form-group">
        @Html.LabelFor(u => u.Password)
        @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.Password, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Create User" class="btn btn-sm btn-primary" />
    @Html.ActionLink("or Cancel","Index")
}
    


